.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    padding: 30px 75px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    .logo-website{
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        padding: 0;
    }

    .pages{
        display: flex;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        padding: 0;

        a{
            position: relative;
            margin: 0 25px;
            font-size: 13px;
            line-height: 150%;
            font-weight: 500;
            font-style: normal;
            text-decoration: none;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            transition-duration: $animationtime;

            &:hover{
                color: $white;

                &::after{
                    width: 100%;
                    opacity: 1;
                }
            }

            &::after{
                content: '';
                width: 120%;
                height: 1px;
                background-color: $white;
                position: absolute;
                bottom: -3px;
                transition-duration: $animationtime;
                opacity: 0;
            }
        }

        .language{
            margin-left: 60px;
        }
    }

    .menu-hamburger{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        width: 50px;
        height: 30px;
        padding: 0;
        cursor: pointer;

        .line{
            position: relative;
            height: 2px;
            background-color: $white;
            width: 15px;
            transition-duration: $animationtime;
        
            &::before{
                content: '';
                position: absolute;
                height: 2px;
                background-color: $white;
                width: 30px;
                top: -7px;
                right: 0;
                transition-duration: $animationtime;
            }

            &::after{
                content: '';
                position: absolute;
                height: 2px;
                background-color: $white;
                width: 23px;
                bottom: -7px;
                right: 0;
                transition-duration: $animationtime;
            }

            
        }

        &:hover .line{
            width: 30px;

            &::after{
                width: 7px;
            }

            &::before{
                width: 20px;
            }
        }
        
    }
}

.menu-open{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: -100vh;
    background-color: $primary;
    z-index: 5;
    display: inline-grid;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    transition: top 1s ease;

    .close-button{
        position: absolute;
        right: 90px;
        top: 30px;
        cursor: pointer;
        transition-duration: $animationtime;

        span{
            font-size: 26px;
            font-weight: 300;
            transition-duration: $animationtime;
        }

        &:hover{
            transform: scale(1.4);
        }
    }

    .menu-item{
        display: flex;
        justify-content: center;

        a{
            color: $white;
            font-size: 32px;
            text-decoration: none;
            margin: 30px 0;
            text-align: center;
            position: relative;
            display: flex;
            justify-content: center;
            font-weight: 500;
    
            &::after{
                content: '';
                height: 1px;
                width: 100%;
                position: absolute;
                bottom: -10px;
                background-color: $white;
                opacity: 0;
                transition-duration: $animationtime;
            }
    
            &:hover::after{
                opacity: 1;
            }
        }
    }

    .fixed-items{

        .menu-fixed-image-01{
            position: absolute;
            right: -20%;
            top: 13%;
            transition-duration: $animationtime;
            transition: right 0.5s ease;
        }

        .menu-fixed-image-02{
            position: absolute;
            right: 20%;
            top: -60%;
            transition-duration: $animationtime;
            transition: top 1s ease;
        }

        .menu-fixed-image-03{
            position: absolute;
            right: 20%;
            top: -60%;
            transition-duration: $animationtime;
            transition: top 1.3s ease;
        }

        .menu-fixed-image-04{
            position: absolute;
            right: -40%;
            top: 10%;
            transition-duration: $animationtime;
            transition: right 1.4s ease;
            transform: rotate(90deg);
        }

        .menu-fixed-image-05{
            position: absolute;
            right: 20%;
            top: -60%;
            transition-duration: $animationtime;
            transition: top 1.5s ease;
        }
    }

    
}