// Large Desktop
@media only screen and (min-width: 1920px) {
    // Your styles for large desktop here
  }
  
  // Desktop
  @media only screen and (min-width: 1600px) and (max-width: 1920px) {
    // Your styles for desktop here
  }
  
  // Laptop
  @media only screen and (min-width: 1150px) and (max-width: 1600px) {
    
    body .own-collection-homepage .own-collection-homepage-bottom-section{
      margin-top: -350px;
      padding: 300px 100px 100px 100px;
    }

    body .banner-homepage .titles-banner-homepage{
      padding: 0 50px 70px;
    }

    body .own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .button-div{
      min-width: 230px;
    }

    body .unique-rugs-homepage .unique-rugs-homepage-absolute.unique-rugs-homepage-image-right{
      right: 13%;
    }

    body .unique-rugs-homepage .unique-rugs-homepage-absolute.unique-rugs-homepage-image-top-left{
      left: 100px;
    }

  }
  
  // Tablet Horizontal
  @media only screen and (min-width: 800px) and (max-width: 1150px) {
    // Your styles for tablet horizontal here
  }
  
  // Tablet
  @media only screen and (min-width: 480px) and (max-width: 800px) {
    // Your styles for tablet here
  }
  
  // Mobile
  @media only screen and (max-width: 479px) {
    
    body .banner-homepage{
        align-items: flex-start;
        padding: 100px 0;

        .titles-banner-homepage{
            padding: 0 10px;

            h1{
                font-size: 48px;
                line-height: 48px;
            }

            span{
                font-size: 20px;
                line-height: 28px;
                margin-top: 25px;
            }

            .arrow-fixed{
              right: 49%;
              bottom: 50px;
            }
        }
    }

    body .work-with-us-homepage{
        padding: 100px 0;

        .work-with-us-homepage-image{
            padding: 0 50px;
        }

        .work-with-us-homepage-text{
            padding: 0 10px;
            margin-top: 30px;

            p{
                text-align: center;
                font-size: 16px;
                line-height: 22px;
            }

            .author{
              font-size: 14px;
              line-height: 21px;
            }

            .author-position{
              font-size: 12px;
              line-height: 18px;
            }
        }
    }

    body .menu{
      padding: 20px;

      .pages{
        display: none;
      }
    }

    body .cover-transition{

      img{
        max-width: 300px;
      }
    }
    
    body .unique-rugs-homepage .unique-rugs-homepage-absolute.unique-rugs-homepage-image-top-left{
      left: 20px;
      max-width: 220px;
      top: 40px;
      padding: 0;
    }

    body .unique-rugs-homepage .unique-rugs-homepage-absolute.unique-rugs-homepage-image-right{
      max-width: 150px;
      padding: 0;
      right: 20px;
      bottom: -100px;
    }

    body .unique-rugs-homepage .unique-rugs-homepage-absolute.unique-rugs-homepage-image-bottom-left{
      max-width: 150px;
      left: 20px;
      padding: 0;
      bottom: 80px;
    }

    body .unique-rugs-homepage{
      padding: 240px 20px;
      margin-top: 20px;

      .unique-rugs-homepage-content{
        padding: 0;

        div{
          padding: 0;
        }

        h2, p, a{
          padding: 0;
        }

        h2{
          font-size: 32px;
          line-height: 42px;
        }

        p{
          margin-top: 20px;
        }
      }
    }

    body .own-collection-homepage{
      padding: 60px 0 0 0;
      margin-top: 265px;
      overflow: hidden;

      .own-collection-homepage-top-section{
        padding: 0 10px;

        .top-section-left-div{

          h3{
            font-size: 48px;
            line-height: 48px;
            margin: 0;
          }

          p{
            margin: 0;
            margin-top: 20px;

            &:first-of-type {
              margin-top: 40px;
            }
          }

          .button-div{
            margin-top: 75px;
          }
        }

        .top-section-right-div{
          margin-top: 0;
          
          img{
            max-width: 200px;
          }
        }
      }

      .own-collection-homepage-bottom-section{
        padding: 350px 10px 100px 10px;
        flex-wrap: wrap;

        .own-collection-homepage-overlay{
          top: 170px;
        }

        .own-collection-homepage-overlay-background{
          top: 170px;
        }

        .bottom-section-left-div{
          padding: 0;
          margin-top: 90px;

          .bottom-section-left-div-title-section{
            margin-bottom: 60px;
            padding: 0;

            span{
              font-size: 14px;
              line-height: 21px;
            }
            
            h4{
              font-size: 24px;
              line-height: 24px;
              margin-top: 10px;
            }
          }

          .card-content{

            .card-content-text{

              span{
                font-size: 16px;
                line-height: 22px;
              }

              p{
                font-size: 14px;
                line-height: 21px;
              }
            }
          }

          .button-div{
            margin-top: 60px;
          }
        }
      }
    }

    body .unique-samples-homepage{
      padding-bottom: 200px;

      .unique-samples-top-section{
        display: none;
      }

      .unique-samples-bottom-section{
        flex-direction: column-reverse;
        padding: 0 10px;

        .unique-samples-right-div{
          max-height: 300px;
          height: 250px;
          margin-top: 150px;

          .image-individual{
            max-width: 200px;
          }

          .image-group{
            top: -30px;
          }
        }

        .unique-samples-left-div{

          h3{
            font-size: 32px;
            line-height: 42px;
            margin-top: 40px;
          }

          p{
            margin-top: 20px;
          }
        }
      }
    }
    
    body .footer{
      padding: 20px 10px;

      .footer-top-section{
        flex-wrap: wrap;

        .footer-div-left{

          h5{
            font-size: 20px;
            line-height: 28px;
          }

          .social-icons-mobile{
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top: 30px;

            a{
              margin: 0 20px;
            }
          }
        }

        .footer-div-center{
          margin-top: 40px;
          padding: 0;

          a{
            font-size: 14px;
            line-height: 21px;
          }
        }

        


      }

      .footer-middle-section{
        display: none;
      }
    }

  }
  