@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, li {
  color: #FFFFFF;
}

* {
  transition-duration: 0.3s;
}

html {
  font-family: "Lato", sans-serif;
  color: #212121;
  font-weight: 400;
  line-height: 1.618;
  font-size: 14px;
}
@media (min-width: 750px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

/* ======================== */
/* ======= HEADINGS ======= */
/* ======================== */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin: 0;
  line-height: 1.414;
}

h1, .h1, h2, .h2 {
  font-size: 2.2rem;
}

/* ============================== */
/* ======= TEXT ALIGNMENT ======= */
/* ============================== */
.textleft {
  text-align: left;
}

.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

.gridrowfull {
  width: 100%;
}

.gridrow {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 750px) {
  .gridrow {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .gridrow {
    width: 1170px;
  }
}

.gridrowfull, .gridrow {
  display: flex;
  flex-wrap: wrap;
}
.gridrowfull .col, .gridrow .col {
  flex: 1;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .col-1, .gridrow .col-1 {
  box-sizing: border-box;
  width: 8.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-1, .gridrow .offset-1 {
  margin-left: 8.3333333333%;
}
.gridrowfull .col-2, .gridrow .col-2 {
  box-sizing: border-box;
  width: 16.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-2, .gridrow .offset-2 {
  margin-left: 16.6666666667%;
}
.gridrowfull .col-3, .gridrow .col-3 {
  box-sizing: border-box;
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-3, .gridrow .offset-3 {
  margin-left: 25%;
}
.gridrowfull .col-4, .gridrow .col-4 {
  box-sizing: border-box;
  width: 33.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-4, .gridrow .offset-4 {
  margin-left: 33.3333333333%;
}
.gridrowfull .col-5, .gridrow .col-5 {
  box-sizing: border-box;
  width: 41.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-5, .gridrow .offset-5 {
  margin-left: 41.6666666667%;
}
.gridrowfull .col-6, .gridrow .col-6 {
  box-sizing: border-box;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-6, .gridrow .offset-6 {
  margin-left: 50%;
}
.gridrowfull .col-7, .gridrow .col-7 {
  box-sizing: border-box;
  width: 58.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-7, .gridrow .offset-7 {
  margin-left: 58.3333333333%;
}
.gridrowfull .col-8, .gridrow .col-8 {
  box-sizing: border-box;
  width: 66.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-8, .gridrow .offset-8 {
  margin-left: 66.6666666667%;
}
.gridrowfull .col-9, .gridrow .col-9 {
  box-sizing: border-box;
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-9, .gridrow .offset-9 {
  margin-left: 75%;
}
.gridrowfull .col-10, .gridrow .col-10 {
  box-sizing: border-box;
  width: 83.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-10, .gridrow .offset-10 {
  margin-left: 83.3333333333%;
}
.gridrowfull .col-11, .gridrow .col-11 {
  box-sizing: border-box;
  width: 91.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-11, .gridrow .offset-11 {
  margin-left: 91.6666666667%;
}
.gridrowfull .col-12, .gridrow .col-12 {
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-12, .gridrow .offset-12 {
  margin-left: 100%;
}
@media (min-width: 750px) {
  .gridrowfull .col-t, .gridrow .col-t {
    flex: 1;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t, .gridrow .offset-t {
    margin-left: 0;
  }
  .gridrowfull .col-t-1, .gridrow .col-t-1 {
    box-sizing: border-box;
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-1, .gridrow .offset-t-1 {
    margin-left: 8.3333333333%;
  }
  .gridrowfull .col-t-2, .gridrow .col-t-2 {
    box-sizing: border-box;
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-2, .gridrow .offset-t-2 {
    margin-left: 16.6666666667%;
  }
  .gridrowfull .col-t-3, .gridrow .col-t-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-3, .gridrow .offset-t-3 {
    margin-left: 25%;
  }
  .gridrowfull .col-t-4, .gridrow .col-t-4 {
    box-sizing: border-box;
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-4, .gridrow .offset-t-4 {
    margin-left: 33.3333333333%;
  }
  .gridrowfull .col-t-5, .gridrow .col-t-5 {
    box-sizing: border-box;
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-5, .gridrow .offset-t-5 {
    margin-left: 41.6666666667%;
  }
  .gridrowfull .col-t-6, .gridrow .col-t-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-6, .gridrow .offset-t-6 {
    margin-left: 50%;
  }
  .gridrowfull .col-t-7, .gridrow .col-t-7 {
    box-sizing: border-box;
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-7, .gridrow .offset-t-7 {
    margin-left: 58.3333333333%;
  }
  .gridrowfull .col-t-8, .gridrow .col-t-8 {
    box-sizing: border-box;
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-8, .gridrow .offset-t-8 {
    margin-left: 66.6666666667%;
  }
  .gridrowfull .col-t-9, .gridrow .col-t-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-9, .gridrow .offset-t-9 {
    margin-left: 75%;
  }
  .gridrowfull .col-t-10, .gridrow .col-t-10 {
    box-sizing: border-box;
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-10, .gridrow .offset-t-10 {
    margin-left: 83.3333333333%;
  }
  .gridrowfull .col-t-11, .gridrow .col-t-11 {
    box-sizing: border-box;
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-11, .gridrow .offset-t-11 {
    margin-left: 91.6666666667%;
  }
  .gridrowfull .col-t-12, .gridrow .col-t-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-12, .gridrow .offset-t-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .gridrowfull .col-d, .gridrow .col-d {
    flex: 1;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d, .gridrow .offset-d {
    margin-left: 0;
  }
  .gridrowfull .col-d-1, .gridrow .col-d-1 {
    box-sizing: border-box;
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-1, .gridrow .offset-d-1 {
    margin-left: 8.3333333333%;
  }
  .gridrowfull .col-d-2, .gridrow .col-d-2 {
    box-sizing: border-box;
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-2, .gridrow .offset-d-2 {
    margin-left: 16.6666666667%;
  }
  .gridrowfull .col-d-3, .gridrow .col-d-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-3, .gridrow .offset-d-3 {
    margin-left: 25%;
  }
  .gridrowfull .col-d-4, .gridrow .col-d-4 {
    box-sizing: border-box;
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-4, .gridrow .offset-d-4 {
    margin-left: 33.3333333333%;
  }
  .gridrowfull .col-d-5, .gridrow .col-d-5 {
    box-sizing: border-box;
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-5, .gridrow .offset-d-5 {
    margin-left: 41.6666666667%;
  }
  .gridrowfull .col-d-6, .gridrow .col-d-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-6, .gridrow .offset-d-6 {
    margin-left: 50%;
  }
  .gridrowfull .col-d-7, .gridrow .col-d-7 {
    box-sizing: border-box;
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-7, .gridrow .offset-d-7 {
    margin-left: 58.3333333333%;
  }
  .gridrowfull .col-d-8, .gridrow .col-d-8 {
    box-sizing: border-box;
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-8, .gridrow .offset-d-8 {
    margin-left: 66.6666666667%;
  }
  .gridrowfull .col-d-9, .gridrow .col-d-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-9, .gridrow .offset-d-9 {
    margin-left: 75%;
  }
  .gridrowfull .col-d-10, .gridrow .col-d-10 {
    box-sizing: border-box;
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-10, .gridrow .offset-d-10 {
    margin-left: 83.3333333333%;
  }
  .gridrowfull .col-d-11, .gridrow .col-d-11 {
    box-sizing: border-box;
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-11, .gridrow .offset-d-11 {
    margin-left: 91.6666666667%;
  }
  .gridrowfull .col-d-12, .gridrow .col-d-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-12, .gridrow .offset-d-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1700px) {
  .gridrowfull .col-ld, .gridrow .col-ld {
    flex: 1;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-ld, .gridrow .offset-ld {
    margin-left: 0;
  }
  .gridrowfull .col-ld-1, .gridrow .col-ld-1 {
    box-sizing: border-box;
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-ld-1, .gridrow .offset-ld-1 {
    margin-left: 8.3333333333%;
  }
  .gridrowfull .col-ld-2, .gridrow .col-ld-2 {
    box-sizing: border-box;
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-ld-2, .gridrow .offset-ld-2 {
    margin-left: 16.6666666667%;
  }
  .gridrowfull .col-ld-3, .gridrow .col-ld-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-ld-3, .gridrow .offset-ld-3 {
    margin-left: 25%;
  }
  .gridrowfull .col-ld-4, .gridrow .col-ld-4 {
    box-sizing: border-box;
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-ld-4, .gridrow .offset-ld-4 {
    margin-left: 33.3333333333%;
  }
  .gridrowfull .col-ld-5, .gridrow .col-ld-5 {
    box-sizing: border-box;
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-ld-5, .gridrow .offset-ld-5 {
    margin-left: 41.6666666667%;
  }
  .gridrowfull .col-ld-6, .gridrow .col-ld-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-ld-6, .gridrow .offset-ld-6 {
    margin-left: 50%;
  }
  .gridrowfull .col-ld-7, .gridrow .col-ld-7 {
    box-sizing: border-box;
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-ld-7, .gridrow .offset-ld-7 {
    margin-left: 58.3333333333%;
  }
  .gridrowfull .col-ld-8, .gridrow .col-ld-8 {
    box-sizing: border-box;
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-ld-8, .gridrow .offset-ld-8 {
    margin-left: 66.6666666667%;
  }
  .gridrowfull .col-ld-9, .gridrow .col-ld-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-ld-9, .gridrow .offset-ld-9 {
    margin-left: 75%;
  }
  .gridrowfull .col-ld-10, .gridrow .col-ld-10 {
    box-sizing: border-box;
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-ld-10, .gridrow .offset-ld-10 {
    margin-left: 83.3333333333%;
  }
  .gridrowfull .col-ld-11, .gridrow .col-ld-11 {
    box-sizing: border-box;
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-ld-11, .gridrow .offset-ld-11 {
    margin-left: 91.6666666667%;
  }
  .gridrowfull .col-ld-12, .gridrow .col-ld-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-ld-12, .gridrow .offset-ld-12 {
    margin-left: 100%;
  }
}
.gridrowfull.nogutter .col, .gridrowfull.nogutter .col-t, .gridrowfull.nogutter .col-d, .gridrowfull.nogutter .col-ld, .gridrow.nogutter .col, .gridrow.nogutter .col-t, .gridrow.nogutter .col-d, .gridrow.nogutter .col-ld {
  padding: 0;
}
.gridrowfull.nogutter .col-1, .gridrowfull.nogutter .col-t-1, .gridrowfull.nogutter .col-d-1, .gridrowfull.nogutter .col-ld-1, .gridrow.nogutter .col-1, .gridrow.nogutter .col-t-1, .gridrow.nogutter .col-d-1, .gridrow.nogutter .col-ld-1 {
  padding: 0;
}
.gridrowfull.nogutter .col-2, .gridrowfull.nogutter .col-t-2, .gridrowfull.nogutter .col-d-2, .gridrowfull.nogutter .col-ld-2, .gridrow.nogutter .col-2, .gridrow.nogutter .col-t-2, .gridrow.nogutter .col-d-2, .gridrow.nogutter .col-ld-2 {
  padding: 0;
}
.gridrowfull.nogutter .col-3, .gridrowfull.nogutter .col-t-3, .gridrowfull.nogutter .col-d-3, .gridrowfull.nogutter .col-ld-3, .gridrow.nogutter .col-3, .gridrow.nogutter .col-t-3, .gridrow.nogutter .col-d-3, .gridrow.nogutter .col-ld-3 {
  padding: 0;
}
.gridrowfull.nogutter .col-4, .gridrowfull.nogutter .col-t-4, .gridrowfull.nogutter .col-d-4, .gridrowfull.nogutter .col-ld-4, .gridrow.nogutter .col-4, .gridrow.nogutter .col-t-4, .gridrow.nogutter .col-d-4, .gridrow.nogutter .col-ld-4 {
  padding: 0;
}
.gridrowfull.nogutter .col-5, .gridrowfull.nogutter .col-t-5, .gridrowfull.nogutter .col-d-5, .gridrowfull.nogutter .col-ld-5, .gridrow.nogutter .col-5, .gridrow.nogutter .col-t-5, .gridrow.nogutter .col-d-5, .gridrow.nogutter .col-ld-5 {
  padding: 0;
}
.gridrowfull.nogutter .col-6, .gridrowfull.nogutter .col-t-6, .gridrowfull.nogutter .col-d-6, .gridrowfull.nogutter .col-ld-6, .gridrow.nogutter .col-6, .gridrow.nogutter .col-t-6, .gridrow.nogutter .col-d-6, .gridrow.nogutter .col-ld-6 {
  padding: 0;
}
.gridrowfull.nogutter .col-7, .gridrowfull.nogutter .col-t-7, .gridrowfull.nogutter .col-d-7, .gridrowfull.nogutter .col-ld-7, .gridrow.nogutter .col-7, .gridrow.nogutter .col-t-7, .gridrow.nogutter .col-d-7, .gridrow.nogutter .col-ld-7 {
  padding: 0;
}
.gridrowfull.nogutter .col-8, .gridrowfull.nogutter .col-t-8, .gridrowfull.nogutter .col-d-8, .gridrowfull.nogutter .col-ld-8, .gridrow.nogutter .col-8, .gridrow.nogutter .col-t-8, .gridrow.nogutter .col-d-8, .gridrow.nogutter .col-ld-8 {
  padding: 0;
}
.gridrowfull.nogutter .col-9, .gridrowfull.nogutter .col-t-9, .gridrowfull.nogutter .col-d-9, .gridrowfull.nogutter .col-ld-9, .gridrow.nogutter .col-9, .gridrow.nogutter .col-t-9, .gridrow.nogutter .col-d-9, .gridrow.nogutter .col-ld-9 {
  padding: 0;
}
.gridrowfull.nogutter .col-10, .gridrowfull.nogutter .col-t-10, .gridrowfull.nogutter .col-d-10, .gridrowfull.nogutter .col-ld-10, .gridrow.nogutter .col-10, .gridrow.nogutter .col-t-10, .gridrow.nogutter .col-d-10, .gridrow.nogutter .col-ld-10 {
  padding: 0;
}
.gridrowfull.nogutter .col-11, .gridrowfull.nogutter .col-t-11, .gridrowfull.nogutter .col-d-11, .gridrowfull.nogutter .col-ld-11, .gridrow.nogutter .col-11, .gridrow.nogutter .col-t-11, .gridrow.nogutter .col-d-11, .gridrow.nogutter .col-ld-11 {
  padding: 0;
}
.gridrowfull.nogutter .col-12, .gridrowfull.nogutter .col-t-12, .gridrowfull.nogutter .col-d-12, .gridrowfull.nogutter .col-ld-12, .gridrow.nogutter .col-12, .gridrow.nogutter .col-t-12, .gridrow.nogutter .col-d-12, .gridrow.nogutter .col-ld-12 {
  padding: 0;
}

body {
  background: url("http://localhost/uniquerugs/wp-content/uploads/2023/12/background-light.jpg"), lightgray 50%/cover no-repeat;
  mix-blend-mode: multiply;
}

.cover-transition {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #BBBBBB;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  transition-duration: 0.3s;
}
.cover-transition img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 500px;
}

.banner-homepage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-image: url("http://localhost/uniquerugs/wp-content/uploads/2023/12/banner.jpg");
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
}
.banner-homepage .titles-banner-homepage {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 50px;
}
.banner-homepage .titles-banner-homepage h1 {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
}
.banner-homepage .titles-banner-homepage span {
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
  margin-top: 40px;
}
.banner-homepage .titles-banner-homepage .arrow-fixed {
  position: absolute;
  right: 50px;
  animation: moveUpDown 2s ease-in-out infinite; /* Adjust the duration and timing function as needed */
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px); /* Adjust the distance of the movement */
  }
}

.work-with-us-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 50px;
  position: relative;
}
.work-with-us-homepage .work-with-us-homepage-image {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
.work-with-us-homepage .work-with-us-homepage-text {
  padding: 5px;
}
.work-with-us-homepage .work-with-us-homepage-text p {
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
  color: #212121;
}
.work-with-us-homepage .work-with-us-homepage-text .author {
  color: #858585;
  margin-top: 30px;
}
.work-with-us-homepage .work-with-us-homepage-text .author-position {
  margin-top: 5px;
  font-size: 13px;
  color: #BBBBBB;
}

.unique-rugs-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 150px 50px;
  min-height: 100vh;
}
.unique-rugs-homepage .unique-rugs-homepage-absolute {
  position: absolute;
}
.unique-rugs-homepage .unique-rugs-homepage-absolute.unique-rugs-homepage-image-top-left {
  top: 50px;
  left: 150px;
}
.unique-rugs-homepage .unique-rugs-homepage-absolute.unique-rugs-homepage-image-right {
  right: 17%;
}
.unique-rugs-homepage .unique-rugs-homepage-absolute.unique-rugs-homepage-image-bottom-left {
  bottom: 50px;
  left: 13%;
}
.unique-rugs-homepage .unique-rugs-homepage-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
}
.unique-rugs-homepage .unique-rugs-homepage-content h2 {
  text-align: center;
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 500;
  color: #051C2C;
}
.unique-rugs-homepage .unique-rugs-homepage-content p {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #051C2C;
}
.unique-rugs-homepage .unique-rugs-homepage-content a {
  text-align: center;
  margin-top: 40px;
  color: #051C2C;
}

.button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  background-color: rgba(0, 0, 0, 0) !important;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
}
.button.button-black {
  color: #212121;
}
.button.button-black:hover {
  color: #212121;
}
.button.button-black::after {
  background-color: #212121;
}
.button.button-white {
  color: #FFFFFF;
}
.button.button-white:hover {
  color: #FFFFFF;
}
.button.button-white::after {
  background-color: #FFFFFF;
}
.button::after {
  content: "";
  width: 100%;
  height: 1px;
  bottom: 5px;
  position: absolute;
  transition-duration: 0.3s;
}
.button:hover::after {
  width: 30%;
}

.own-collection-homepage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-image: url("http://localhost/uniquerugs/wp-content/uploads/2023/12/own-collection.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 0 0;
  margin-top: 150px;
}
.own-collection-homepage .own-collection-homepage-top-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100vh;
  position: relative;
  padding: 0 100px;
}
.own-collection-homepage .own-collection-homepage-top-section .top-section-left-div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
}
.own-collection-homepage .own-collection-homepage-top-section .top-section-left-div h3 {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
  margin-bottom: 40px;
}
.own-collection-homepage .own-collection-homepage-top-section .top-section-left-div p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 20px;
  margin-right: 50px;
}
.own-collection-homepage .own-collection-homepage-top-section .top-section-left-div .button-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 100px;
}
.own-collection-homepage .own-collection-homepage-top-section .top-section-right-div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  margin-top: 220px;
  z-index: 3;
}
.own-collection-homepage .own-collection-homepage-bottom-section {
  position: relative;
  margin-top: -400px;
  padding: 350px 100px 100px 100px;
  display: flex;
}
.own-collection-homepage .own-collection-homepage-bottom-section .own-collection-homepage-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("http://localhost/uniquerugs/wp-content/uploads/2023/12/background-carpets.jpg");
  background-size: cover;
  mix-blend-mode: multiply;
  z-index: 2;
  opacity: 0.9;
}
.own-collection-homepage .own-collection-homepage-bottom-section .own-collection-homepage-overlay-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("http://localhost/uniquerugs/wp-content/uploads/2023/12/background-light-blue.jpg"), lightgray 50%/cover no-repeat;
  mix-blend-mode: hard-light;
  z-index: 1;
  opacity: 0.3;
}
.own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div {
  z-index: 2;
  position: relative;
}
.own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .bottom-section-left-div-title-section {
  margin-bottom: 40px;
}
.own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .bottom-section-left-div-title-section span {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .bottom-section-left-div-title-section h4 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: #BBBBBB;
  margin-top: 5px;
}
.own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .card-content {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .card-content span {
  font-size: 20px;
  line-height: 29px;
  color: #BBBBBB;
  font-weight: 500;
}
.own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .card-content p {
  margin-top: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0;
}
.own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .button-div {
  margin-top: 100px;
}

.unique-samples-homepage {
  position: relative;
}
.unique-samples-homepage .unique-samples-top-section {
  background-color: #BBBBBB;
  opacity: 0.3;
  padding: 200px 0;
}
.unique-samples-homepage .unique-samples-bottom-section {
  display: flex;
  padding: 0 100px;
  padding-bottom: 150px;
}
.unique-samples-homepage .unique-samples-bottom-section .unique-samples-left-div {
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  flex-wrap: wrap;
  padding-top: 20px;
}
.unique-samples-homepage .unique-samples-bottom-section .unique-samples-left-div h3 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 500;
  color: #051C2C;
}
.unique-samples-homepage .unique-samples-bottom-section .unique-samples-left-div p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #051C2C;
  margin-top: 40px;
}
.unique-samples-homepage .unique-samples-bottom-section .unique-samples-left-div .button-div {
  margin-top: 40px;
}
.unique-samples-homepage .unique-samples-bottom-section .unique-samples-left-div .button-div a {
  color: #051C2C;
}
.unique-samples-homepage .unique-samples-bottom-section .unique-samples-left-div .button-div a::after {
  background-color: #051C2C;
}
.unique-samples-homepage .unique-samples-bottom-section .unique-samples-right-div {
  position: relative;
  max-height: 599px;
  height: 490px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin-top: -270px;
}
.unique-samples-homepage .unique-samples-bottom-section .unique-samples-right-div img {
  position: absolute;
}
.unique-samples-homepage .unique-samples-bottom-section .unique-samples-right-div .image-group {
  top: 0;
}
.unique-samples-homepage .unique-samples-bottom-section .unique-samples-right-div .image-individual {
  bottom: 0;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  padding: 30px 75px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.menu .logo-website {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 0;
}
.menu .pages {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  padding: 0;
}
.menu .pages a {
  position: relative;
  margin: 0 25px;
  font-size: 13px;
  line-height: 150%;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  transition-duration: 0.3s;
}
.menu .pages a:hover {
  color: #FFFFFF;
}
.menu .pages a:hover::after {
  width: 40%;
  opacity: 1;
}
.menu .pages a::after {
  content: "";
  width: 120%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: -3px;
  transition-duration: 0.3s;
  opacity: 0;
}
.menu .pages .language {
  margin-left: 60px;
}
.menu .menu-hamburger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 50px;
  height: 30px;
  padding: 0;
  cursor: pointer;
}
.menu .menu-hamburger .line {
  position: relative;
  height: 2px;
  background-color: #FFFFFF;
  width: 15px;
  transition-duration: 0.3s;
}
.menu .menu-hamburger .line::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #FFFFFF;
  width: 30px;
  top: -7px;
  right: 0;
  transition-duration: 0.3s;
}
.menu .menu-hamburger .line::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #FFFFFF;
  width: 23px;
  bottom: -7px;
  right: 0;
  transition-duration: 0.3s;
}
.menu .menu-hamburger:hover .line {
  width: 30px;
}
.menu .menu-hamburger:hover .line::after {
  width: 7px;
}
.menu .menu-hamburger:hover .line::before {
  width: 20px;
}

.footer {
  display: flex;
  padding: 30px 75px;
}
.footer .footer-top-section {
  display: flex;
  justify-content: space-between;
}
.footer .footer-top-section .footer-div-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.footer .footer-top-section .footer-div-left h5 {
  font-size: 32px;
  line-height: 45px;
  font-weight: 500;
  color: #051C2C;
  padding: 0;
}
.footer .footer-top-section .footer-div-left .input-newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 20px;
  border-bottom: 1px solid #5E8AAA;
  padding: 5px;
}
.footer .footer-top-section .footer-div-left .input-newsletter input {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  color: #5E8AAA;
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  padding: 5px;
}
.footer .footer-top-section .footer-div-left .input-newsletter input::-moz-placeholder {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  color: #5E8AAA;
}
.footer .footer-top-section .footer-div-left .input-newsletter input::placeholder {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  color: #5E8AAA;
}
.footer .footer-top-section .footer-div-left .input-newsletter button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #051C2C;
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  padding: 0 10px;
}
.footer .footer-top-section .footer-div-left .social-icons-mobile {
  display: none;
}
.footer .footer-top-section .footer-div-center {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer .footer-top-section .footer-div-center a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #051C2C;
  text-decoration: none;
  margin: 15px 0;
}
.footer .footer-middle-section {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #BBBBBB;
}
.footer .footer-middle-section .social-icons a {
  margin: 0 10px;
}

@media only screen and (min-width: 1150px) and (max-width: 1600px) {
  body .own-collection-homepage .own-collection-homepage-bottom-section {
    margin-top: -350px;
    padding: 300px 100px 100px 100px;
  }
  body .banner-homepage .titles-banner-homepage {
    padding: 0 50px 70px;
  }
  body .own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .button-div {
    min-width: 230px;
  }
  body .unique-rugs-homepage .unique-rugs-homepage-absolute.unique-rugs-homepage-image-right {
    right: 13%;
  }
  body .unique-rugs-homepage .unique-rugs-homepage-absolute.unique-rugs-homepage-image-top-left {
    left: 100px;
  }
}
@media only screen and (max-width: 479px) {
  body .banner-homepage {
    align-items: flex-start;
    padding: 100px 0;
  }
  body .banner-homepage .titles-banner-homepage {
    padding: 0 10px;
  }
  body .banner-homepage .titles-banner-homepage h1 {
    font-size: 48px;
    line-height: 48px;
  }
  body .banner-homepage .titles-banner-homepage span {
    font-size: 20px;
    line-height: 28px;
    margin-top: 25px;
  }
  body .banner-homepage .titles-banner-homepage .arrow-fixed {
    right: 49%;
    bottom: 50px;
  }
  body .work-with-us-homepage {
    padding: 100px 0;
  }
  body .work-with-us-homepage .work-with-us-homepage-image {
    padding: 0 50px;
  }
  body .work-with-us-homepage .work-with-us-homepage-text {
    padding: 0 10px;
    margin-top: 30px;
  }
  body .work-with-us-homepage .work-with-us-homepage-text p {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
  }
  body .work-with-us-homepage .work-with-us-homepage-text .author {
    font-size: 14px;
    line-height: 21px;
  }
  body .work-with-us-homepage .work-with-us-homepage-text .author-position {
    font-size: 12px;
    line-height: 18px;
  }
  body .menu {
    padding: 20px;
  }
  body .menu .pages {
    display: none;
  }
  body .cover-transition img {
    max-width: 300px;
  }
  body .unique-rugs-homepage .unique-rugs-homepage-absolute.unique-rugs-homepage-image-top-left {
    left: 20px;
    max-width: 220px;
    top: 40px;
    padding: 0;
  }
  body .unique-rugs-homepage .unique-rugs-homepage-absolute.unique-rugs-homepage-image-right {
    max-width: 150px;
    padding: 0;
    right: 20px;
    bottom: -100px;
  }
  body .unique-rugs-homepage .unique-rugs-homepage-absolute.unique-rugs-homepage-image-bottom-left {
    max-width: 150px;
    left: 20px;
    padding: 0;
    bottom: 80px;
  }
  body .unique-rugs-homepage {
    padding: 240px 20px;
    margin-top: 20px;
  }
  body .unique-rugs-homepage .unique-rugs-homepage-content {
    padding: 0;
  }
  body .unique-rugs-homepage .unique-rugs-homepage-content div {
    padding: 0;
  }
  body .unique-rugs-homepage .unique-rugs-homepage-content h2, body .unique-rugs-homepage .unique-rugs-homepage-content p, body .unique-rugs-homepage .unique-rugs-homepage-content a {
    padding: 0;
  }
  body .unique-rugs-homepage .unique-rugs-homepage-content h2 {
    font-size: 32px;
    line-height: 42px;
  }
  body .unique-rugs-homepage .unique-rugs-homepage-content p {
    margin-top: 20px;
  }
  body .own-collection-homepage {
    padding: 60px 0 0 0;
    margin-top: 265px;
    overflow: hidden;
  }
  body .own-collection-homepage .own-collection-homepage-top-section {
    padding: 0 10px;
  }
  body .own-collection-homepage .own-collection-homepage-top-section .top-section-left-div h3 {
    font-size: 48px;
    line-height: 48px;
    margin: 0;
  }
  body .own-collection-homepage .own-collection-homepage-top-section .top-section-left-div p {
    margin: 0;
    margin-top: 20px;
  }
  body .own-collection-homepage .own-collection-homepage-top-section .top-section-left-div p:first-of-type {
    margin-top: 40px;
  }
  body .own-collection-homepage .own-collection-homepage-top-section .top-section-left-div .button-div {
    margin-top: 75px;
  }
  body .own-collection-homepage .own-collection-homepage-top-section .top-section-right-div {
    margin-top: 50px;
  }
  body .own-collection-homepage .own-collection-homepage-top-section .top-section-right-div img {
    max-width: 200px;
  }
  body .own-collection-homepage .own-collection-homepage-bottom-section {
    padding: 350px 10px 100px 10px;
    flex-wrap: wrap;
  }
  body .own-collection-homepage .own-collection-homepage-bottom-section .own-collection-homepage-overlay {
    top: 170px;
  }
  body .own-collection-homepage .own-collection-homepage-bottom-section .own-collection-homepage-overlay-background {
    top: 170px;
  }
  body .own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div {
    padding: 0;
    margin-top: 90px;
  }
  body .own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .bottom-section-left-div-title-section {
    margin-bottom: 60px;
    padding: 0;
  }
  body .own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .bottom-section-left-div-title-section span {
    font-size: 14px;
    line-height: 21px;
  }
  body .own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .bottom-section-left-div-title-section h4 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 10px;
  }
  body .own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .card-content .card-content-text span {
    font-size: 16px;
    line-height: 22px;
  }
  body .own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .card-content .card-content-text p {
    font-size: 14px;
    line-height: 21px;
  }
  body .own-collection-homepage .own-collection-homepage-bottom-section .bottom-section-left-div .button-div {
    margin-top: 60px;
  }
  body .unique-samples-homepage {
    padding-bottom: 200px;
  }
  body .unique-samples-homepage .unique-samples-top-section {
    display: none;
  }
  body .unique-samples-homepage .unique-samples-bottom-section {
    flex-direction: column-reverse;
    padding: 0 10px;
  }
  body .unique-samples-homepage .unique-samples-bottom-section .unique-samples-right-div {
    max-height: 300px;
    height: 250px;
    margin-top: 150px;
  }
  body .unique-samples-homepage .unique-samples-bottom-section .unique-samples-right-div .image-individual {
    max-width: 200px;
  }
  body .unique-samples-homepage .unique-samples-bottom-section .unique-samples-right-div .image-group {
    top: -30px;
  }
  body .unique-samples-homepage .unique-samples-bottom-section .unique-samples-left-div h3 {
    font-size: 32px;
    line-height: 42px;
    margin-top: 40px;
  }
  body .unique-samples-homepage .unique-samples-bottom-section .unique-samples-left-div p {
    margin-top: 20px;
  }
  body .footer {
    padding: 20px 10px;
  }
  body .footer .footer-top-section {
    flex-wrap: wrap;
  }
  body .footer .footer-top-section .footer-div-left h5 {
    font-size: 20px;
    line-height: 28px;
  }
  body .footer .footer-top-section .footer-div-left .social-icons-mobile {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }
  body .footer .footer-top-section .footer-div-left .social-icons-mobile a {
    margin: 0 20px;
  }
  body .footer .footer-top-section .footer-div-center {
    margin-top: 40px;
    padding: 0;
  }
  body .footer .footer-top-section .footer-div-center a {
    font-size: 14px;
    line-height: 21px;
  }
  body .footer .footer-middle-section {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */